<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <scheduling>
      <agent name ="AAA"
             type="Sitecore.Strategy.Scheduler.Example.LoggerAgent, Sitecore.Strategy.Scheduler.Example"
             method="Run"
             interval="00:00:20">
             <param desc="messageToLog">====AAAA===== Test Log </param>
            <param desc="sleep duration for test logging agent">0</param>
      </agent>
      
      <!-- this agent runs first because of the executionPriority attribute-->
      <agent name="BBB"
             type="Sitecore.Strategy.Scheduler.Example.LoggerAgent, Sitecore.Strategy.Scheduler.Example" 
             method="Run" 
             interval="00:00:30"
             executionPriority="-1">
              <param desc="messageToLog">====BBBB===== Test Log </param>
              <param desc="sleep duration for test logging agent">0</param>
      </agent>

      <!-- run agent every 15 minutes pass the hour -->
      <agent name="CCC"
             type="Sitecore.Strategy.Scheduler.Example.LoggerAgent, Sitecore.Strategy.Scheduler.Example"
             method="Run"
             interval="0001-01-01T00:00:15Z|||00:01:00"> 
              <param desc="messageToLog">====CCCC===== Test Log </param>
              <param desc="sleep duration for test logging agent">0</param>
      </agent>

      <!-- run agent on Friday at 2:00 pm local server time where
           Everyday=0, Sun=1, Mon=2, Tue=4, Wed=8, Thu=16, Fri=32, Sat=64
      -->
      <agent name="DDD"
         type="Sitecore.Strategy.Scheduler.Example.LoggerAgent, Sitecore.Strategy.Scheduler.Example"
         method="Run"
         interval="||0|@14:00:00">
        <param desc="messageToLog">====DDDD===== Test Log </param>
        <param desc="sleep duration for test logging agent">0</param>
      </agent>


    </scheduling>
  </sitecore>
</configuration>
